<h1>Login</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
        
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            
            <%= f.submit "login", class: "btn btn-primary" %>
        <% end %>
        
        <p>new user ? <%= link_to "sign up now !", signup_path %> </p>
    </div>
</div>