<h1>Edit</h1>

<div class="row">
    <div class="col-sm-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
        
            <%= f.label :name %>
            <%= f.text_field :name %>
            
            <%= f.label :email %>
            <%= f.text_field :email %>
            
            <%= f.label :gender %>
            <%= f.select :gender, ['male', 'female'] %>
            
            <%= f.label :country %>
            <%= f.text_field :country %>
            
            <%= f.submit "Update User Profile", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>