<div class="row">
    <adise class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section>
                <%= render 'shared/stats' %>
        </section>
    </adise>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @users.any? %>
            <h3>Followers (<%= @user.follower_users.count %>)</h3>
            <ol class="followers">
                <% @users.each do |followers| %>
                    <%= link_to gravatar_for(followers, size: 50), user_path(followers.id) %>
                    <%= link_to followers.name, user_path(followers.id) %>
                <br />
                <br />
                <br />
                <% end %>
            </ol>
        <% end %>
    </div>
</div>