<div class="row">
    <adise class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section>
                <%= render 'shared/stats' %>
        </section>
    </adise>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @users.any? %>
            <h3>Following Users (<%= @user.following_users.count %>)</h3>
                <oi class="followed">
                <% @users.each do |followed| %>
                    <%= link_to gravatar_for(followed, size: 50), user_path(followed) %>
                    <%= link_to followed.name, user_path(followed.id) %>
                    <br />
                    <br />
                    <br />
                    <br />
                <% end %>
                </oi>
        <% end %>
    </div>
</div>